{% extends 'base.html' %}
{% load static %}
{% block content %}

 <div class="underNavbar">
    <div class="container" >
    <div class="row">
        <div class="col-md-6">
            <img class="imgindex1"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDsarOfkQ69tG-xNE1BIKH50b7BmK6_1wShg&s" alt="">
        </div>
        <div class="col-md-6">
          <img class="logo-title" aria-labelledby="hero-content-mod-64a00be72bd23a16363e682d-heading"  src="https://lumiere-a.akamaihd.net/v1/images/disneyplus_logo-glow-x2_lg_27988784.png?region=0,0,1008,439" alt="Disney+" tabindex="0" style="width:300px;" data-width="1008" data-height="439" data-aspect_ratio="0.4355" data-orientation="landscape" data-legacy="true">
          <p>The Artful Dodger Season 2 now streaming on Disney+</p>
          <button class="buttonSignup">SIGN UP NOW*</button>
        </div>
    </div>
</div>
  <a href="#" class="white">*Subscription required</a>
  </div>

   <div class="adds"> 
    <div class="container-fluid">
    <div class="row">

      {% for item in news %}
        <div class="col-md-3">
          <div class="card" style="">
  <img src="{{ item.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">{{ item.title }}</h5>
    <p class="card-text3">{{ item.description }}</p>
    <a href="#" class="btn-primary" >{{ item.button }}</a>
  </div>
</div>
        </div>
        {%endfor%}
    </div>
   </div>
   </div>

   <div class="news">
    <h1 class="newsh1">What's on Disney+</h1>
    <div class="container">
    <div class="row">
      {% for item in wod %}
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
  <img src="{{ item.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <a class="card-title2">{{ item.title }}</a>
  </div>
</div>
        </div>
       {%endfor%}

        <div class="undernews">
        <button class="signup2">SIGN UP NOW*</button>
          <p class="undersignup">* Subscription required | Plans strart from $5.99 a month</p>
        </div>
    </div>
   </div>
   </div>

   <div class="shop">
    <h1 class="shoph1">Shop</h1>
    <a href=""><img class="shopimage" src="{% static 'images/Screenshot 2026-02-15 140639.png' %}" alt=""></a>
   </div>
   <div class="parks">
    <h1 class="parksh1">Parks</h1>
        <div class="container">
    <div class="row">
      {% for item in parks %}
        <div class="col-md-6">
          <div class="card3" style="">
  <img src="{{ item.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">{{ item.title }}</h5>
    <p class="card-text3">{{ item.description }}</p>
    <a href="#" class="btn-primary">{{ item.button }}</a>
  </div>
</div>
        </div>
        {%endfor%}
    </div>
</div>
   </div>

<div class="shows">
  <h1 class="showsh1">Shows</h1>
  <div class="container-fluid">
    <div class="row">
      {% for item in shows %}
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
  <img src="{{ item.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">{{ item.title }}</h5>
    <p class="card-text3">{{ item.description }}</p>
  </div>
</div>
        </div>
        {%endfor%}
    </div>
</div>
</div>

<div class="movies">
  <h1 class="moviesh1">Movies</h1>
  <div class="container-fluid">
    <div class="row">
      {% for item in movies %}
      <div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img src="{{ item.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">{{ item.title }}</h5>
  </div>
</div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>
<div>

  <h1 class="movedisney">Move from Disney</h1>
  <div class="signup3" style="background: url('/static/images/Screenshot\ 2026-02-16\ 201753.png');">
    <div class="inbutton3">
      <h1 class="disneyabout">Sign up to hear <br> about Disney news <br> and more</h1>
      <button class="signupbtn3">JOIN THE FAMILY</button>
    </div>
  </div>
</div>






{% endblock %}