{% extends 'base.html' %}
{% load static %}
{% block content %}

 <div class="underNavbar">
    <div class="container" >
    <div class="row">
        <div class="col-md-6">
            <img class="imgindex1"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDsarOfkQ69tG-xNE1BIKH50b7BmK6_1wShg&s" alt="">
        </div>
        <div class="col-md-6">
          <img class="logo-title" aria-labelledby="hero-content-mod-64a00be72bd23a16363e682d-heading"  src="https://lumiere-a.akamaihd.net/v1/images/disneyplus_logo-glow-x2_lg_27988784.png?region=0,0,1008,439" alt="Disney+" tabindex="0" style="width:300px;" data-width="1008" data-height="439" data-aspect_ratio="0.4355" data-orientation="landscape" data-legacy="true">
          <p>The Artful Dodger Season 2 now streaming on Disney+</p>
          <button class="buttonSignup">SIGN UP NOW*</button>
        </div>
    </div>
</div>
  <a href="#" class="white">*Subscription required</a>
  </div>

   <div class="adds"> 
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
          <div class="card" style="">
  <img src="{% static 'images/Screenshot 2026-02-14 183605.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Wonder Man</h5>
    <p class="card-text3">Now streaming on Disney+</p>
    <a href="#" class="btn-primary" >DISNEY+</a>
  </div>
</div>
        </div>
        <div class="col-md-3">
          <div class="card" style="">
  <img src="{% static 'images/Screenshot 2026-02-14 183714.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Sail Into Mickey Style</h5>
    <p class="card-text3">Discover nautical looks for every age and advanture  <br>Shop Mickey Mouse</p>
    <a href="#" class="btn-primary">SHOP</a>
  </div>
</div>
        </div>
        <div class="col-md-3">
          <div class="card" style="">
  <img src="{% static 'images/Screenshot 2026-02-14 183747.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Live the story you love soon</h5>
    <p class="card-text3">Welcome to World of Frozen, a world where magic meets advanture. Opening March 29th 2026 at Disney Advanture World</p>
    <a href="#" class="btn-primary">DISNEYLAND</a>
  </div>
</div>
        </div>
        <div class="col-md-3">
          <div class="card" style="">
  <img src="{% static 'images/Screenshot 2026-02-14 183812.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Up to 25% Off Selected 14 Day Ticket & Hotel Packages</h5>
    <p class="card-text3">Enjoy up to 25% off 14-Day Tickets & selected Disney hotels on selected 2026 arrivals! Plus, save $500 on flight-inclusive packages! Bookby 31 Mar.'26.Conditions apply.</p>
    <a href="#" class="btn-primary">WALT DISNEY WORLD</a>
  </div>
</div>
        </div>
    </div>
   </div>
   </div>

   <div class="news">
    <h1 class="newsh1">What's on Disney+</h1>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-15 131413.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <a class="card-title2">Awards Season Collection</a>
  </div>
</div>
        </div>
        <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-15 131423.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <a class="card-title2">The Muppet Show</a>
  </div>
</div>
        </div>
        <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-15 131431.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <a class="card-title2">Ella McCay</a>
    <p class="card-text">Parental Control Advised</p>
  </div>
</div>
        </div>
        <div class="undernews">
        <button class="signup2">SIGN UP NOW*</button>
          <p class="undersignup">* Subscription required | Plans strart from $5.99 a month</p>
        </div>
    </div>
   </div>
   </div>

   <div class="shop">
    <h1 class="shoph1">Shop</h1>
    <a href=""><img class="shopimage" src="{% static 'images/Screenshot 2026-02-15 140639.png' %}" alt=""></a>
   </div>
   <div class="parks">
    <h1 class="parksh1">Parks</h1>
        <div class="container">
    <div class="row">
        <div class="col-md-6">
          <div class="card3" style="">
  <img src="{% static 'images/Screenshot 2026-02-15 142758.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Save Over $125 Per Person on 14-Day Tickets Summer 2026</h5>
    <p class="card-text3">Enjoy 25% off 14-Day Tickets for 20 July - 7 Sept.'26 arrivals!Book by 31 Mar.'26. Saving based on adult or child 14-Day Ticket. Conditions apply</p>
    <a href="#" class="btn-primary">WALT DISNEY WORLD</a>
  </div>
</div>
        </div>
        <div class="col-md-6">
          <div class="card3" style="">
  <img  src="{% static 'images/Screenshot 2026-02-15 142746.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Magicial Saillings from the UK in 2026</h5>
    <p class="card-text3">Embark on a European voyage from Southampton and experience all the enchantment of a Disney cruise - just a hop, skip and a jump away! Nothing brings you closer to the magic.</p>
    <a href="#" class="btn-primary">DISNEY CRUISE LINE</a>
  </div>
</div>
        </div>
    </div>
</div>
   </div>

<div class="shows">
  <h1 class="showsh1">Shows</h1>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-16 201308.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">The Lion King London</h5>
    <p class="card-text3">Lyceum Theatre, London</p>
  </div>
</div>
        </div>
        <div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-16 201318.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Hercules The Musical</h5>
    <p class="card-text3">Theatre Royal Drury Lane, London</p>
  </div>
</div>
        </div>
        <div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-16 201328.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">The Greatest Showman</h5>
    <p class="card-text3">Bristol Hippodrom</p>
    
  </div>
</div>
        </div>
        <div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-16 201351.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Bluey's Big Play</h5>
    <p class="card-text3">UK & Ireland Tour</p>
  </div>
</div>
        </div>
    </div>
</div>
</div>

<div class="movies">
  <h1 class="moviesh1">Movies</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-16 201831.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Avatar: Fire and Ash</h5>
  </div>
</div>
      </div>
      <div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-16 201841.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Hoppers</h5>
  </div>
</div>
      </div>
      <div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-16 201855.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Star Wars: The Mandalorian and Grogu</h5>
  </div>
</div>
      </div>
      <div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/Screenshot 2026-02-16 201904.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title3">Toy Story 5</h5>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
<div>

  <h1 class="movedisney">Move from Disney</h1>
  <div class="signup3" style="background: url('/static/images/Screenshot\ 2026-02-16\ 201753.png');">
    <div class="inbutton3">
      <h1 class="disneyabout">Sign up to hear <br> about Disney news <br> and more</h1>
      <button class="signupbtn3">JOIN THE FAMILY</button>
    </div>
  </div>
</div>






{% endblock %}