{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="moviehtmlundernav1">
    <h1>Explore our Movies</h1>
</div>
<div class="moviehtmludnernav11">
   <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Featured</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Dinsey+ and Watch at Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">In Cinemas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Coming Soon</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">More Movies</a>
  </li>
</ul>
</div>
<div class="moviehtmlmovies" style="display: flex;text-align: center;">
    <div class="container-fluid">
        <div class="row">
            {% for item in movies %}
                    <div class="col-md-3">
                        <img src="{{ item.image.url }}" alt="">
                        <p>{{ item.title }}</p>
                    </div>
            {%endfor%}
        </div>
    </div>
    
    
</div>
{% endblock %}