{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="boxoffice">
  <div class="boxoffice1" >
    <h1>WELCOME TO THE <img width="200" style="color: white;" alt="Disney" src="https://static-mh.content.disney.io/matterhorn/assets/goc/disney_logo_dark@2x-45d70f7dd57b.png" class="disney-img"> BOX OFFICE</h1>
    <div class="boxoffice11" style="background: url('/static/images/Screenshot\ 2026-03-19\ 121757.png');">
      <button class="boxoffice1btn">FIND OUT MORE</button>
    </div>
  </div>
  <h1>SOMETHING MAGICAL FOR EVERYONE</h1>
  <div class="boxoffice2">
    <div class="boxoffice21">
      <h1>Musicals</h1>
    </div>
    <div class="boxoffice22">
      {% for item in shows %}
      <div class="card" style="width: 18rem;">
    <img src="{{ item.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.description }}</p>
    </div>
  </div>
  {%endfor%}
    </div>
  </div>
  <div class="boxoffice2">
    <div class="boxoffice21">
      <h1>Family Shows</h1>
    </div>
    <div class="boxoffice22">
      {% for item in familyshows %}
      <div class="card" style="width: 18rem;">
      <img src="{{ item.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description }}</p>
      </div>
    </div>
     {%endfor%}
    </div>
  </div>
  <div class="boxoffice2">
    <div class="boxoffice21">
      <h1>Concerts & Events</h1>
    </div>
    <div class="boxoffice22">
      {% for item in concertandevents %}
      <div class="card" style="width: 18rem;">
      <img src="{{ item.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description }}</p>
      </div>
    </div>
    {%endfor%}
    </div>
  </div>
</div>
<div class="disneytickets">
  <h1>More from Disney Tickets</h1>
      <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
           <div class="card" style="width: 18rem;">
      <img src="{% static 'images/Screenshot 2026-03-19 121917.png' %}" class="card-img-top" alt="...">
      <div class="card-body2">
        <h5 class="title">Group Booking</h5>
        <p class="text">Bring your group to magic</p>
      </div>
    </div>
        </div>
        <div class="col-md-3">
           <div class="card" style="width: 18rem;">
      <img src="{% static 'images/Screenshot 2026-03-19 121923.png' %}" class="card-img-top" alt="...">
      <div class="card-body2">
        <h5 class="title">Magical Mondays</h5>
        <p class="text">Day Seat tickets for Disney shows</p>
      </div>
    </div>
        </div>
        <div class="col-md-3">
 <div class="card" style="width: 18rem;">
      <img src="{% static 'images/Screenshot 2026-03-19 121930.png' %}" class="card-img-top" alt="...">
      <div class="card-body2">
        <h5 class="title">Gift Vouchers</h5>
        <p class="text">Give the gift of Disney Tickets Gift Vouchers</p>
      </div>
    </div>
        </div>
        <div class="col-md-3">
 <div class="card" style="width: 18rem;">
      <img src="{% static 'images/Screenshot 2026-03-19 121939.png' %}" class="card-img-top" alt="...">
      <div class="card-body2">
        <h5 class="title">London Matiness</h5>
        <p class="text">Tickets to Disney matinee performances in London</p>
      </div>
    </div>
        </div>
    </div>
</div>

<div class="disneytickets2">
      <img class="imglightdisney" data-src="https://lumiere-a.akamaihd.net/v1/images/disney-tickets_booking-with-us-top_img_r_7a022f30.png?region=0,0,3200,538" alt="Logo of 'Disney Tickets - Booking With Us' featured on a blue background" src="https://lumiere-a.akamaihd.net/v1/images/disney-tickets_booking-with-us-top_img_r_7a022f30.png?region=0,0,3200,538">
        <div class="disneytickets21">
          <div class="container-fluids">
            <div class="row">
              <div class="col-md-3">
<div class="card" style="width: 18rem;">
      <img src="{% static 'images/Screenshot 2026-03-28 162546.png' %}" class="card-img-top" alt="...">
      <div class="card-body3">
        <h5 class="title">Beat Seats</h5>
        <p class="text">Access to the best seats in the house and Disney-only exclusive seats where available</p>
      </div>
    </div>
              </div>
              <div class="col-md-3">
<div class="card" style="width: 18rem;">
      <img src="{% static 'images/Screenshot 2026-03-28 162553.png' %}" class="card-img-top" alt="...">
      <div class="card-body3">
        <h5 class="title">Priority Access</h5>
        <p class="text">Sign-up to access pre-sales to select new shows and ticket releases</p>
      </div>
    </div>
              </div>
              <div class="col-md-3">
<div class="card" style="width: 18rem;">
      <img src="{% static 'images/Screenshot 2026-03-28 162604.png' %}" class="card-img-top" alt="...">
      <div class="card-body3">
        <h5 class="title">Flexi-Ticket</h5>
        <p class="text">Free exchanges up to 24 hours before the show, see our </p>
      </div>
    </div>
              </div>
              <div class="col-md-3">
<div class="card" style="width: 18rem;">
      <img style="border-radius: 10px;" src="{% static 'images/Screenshot 2026-03-28 162609.png' %}" class="card-img-top" alt="...">
      <div class="card-body3">
        <h5 class="title">Disney Guest Services</h5>
        <p class="text">Find the answers you need on our comprehensive <a href="https://support.disney.com/hc/en-gb/categories/115001274668-DisneyTickets" target="blank"><font color="#FFFFFF"><u>help page</u></font></a> or use our live chat</p>
      </div>
    </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <p style="color: white;text-align: center;">An official ticket retailer</p>
    <img src="{% static 'images/Screenshot 2026-03-28 170757.png' %}" alt="">
    <p style="color: white;text-align: center;">Sign up to hear about Disney Tickets shows, Disney news and special offers</p>
    <button style="background-color: #00bbf0;color: white;border-radius: 20px;padding-right: 60px;padding-left: 60px;padding-top: 10px;padding-bottom: 10px;">SIGN UP</button>
    <h2>Follow Disney Tickets on Instagram</h2>
    <img src="{% static 'images/Screenshot 2026-03-28 171624.png' %}" alt="">
  </div>


<div class="FrequentlyAskedQuestions">
  <h1 class="faqh1"">Frequently Asked Questions</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
<ul style="flex-direction: column;" class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">What's on</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Buying Tickets</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact Us</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="group-tab" data-toggle="tab" href="#group" role="tab" aria-controls="group" aria-selected="false">Group Tickets</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About Us</a>
  </li>
</ul>

    </div>
    <div class="col-md-6">
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="tab-content ">   <div class="tab-content-rich-text cols-1"> <h4>
<span>West End Theatre Shows</span><br>
</h4><p><b><strong>The Lion King, Lyceum Theatre, London</strong></b><br><span>As the sun rises, watch in awe as giraffes strut, gazelles leap and birds swoop bringing the majesty of the Serengeti to life all around you. </span><a href="https://www.disneytickets.co.uk/the-lion-king-musical-tickets" rel="noopener noreferrer"><span>Book your tickets</span></a><span> today, direct with Disney.</span><br></p><p><b><strong>Hercules, Theatre Royal Drury Lane, London</strong></b><br><span>Director Casey Nicholaw's new production of Hercules comes to London's West End in Summer 2025. </span><a href="https://www.disneytickets.co.uk/hercules-musical-london-tickets" rel="noopener noreferrer"><span>Book your tickets</span></a><span> today.</span><br><br></p><h4>
<span>On Tour Across the UK</span><br>
</h4><p><b><strong>Disney in Concert: The Sound of Magic, UK tour</strong></b><br><span>Following on from its debut in the UK at the London Coliseum last year, Disney In Concert: The Sound of Magic, a celebration of over 100 years of Disney experience through its music, will tour the UK in 2026. </span><a href="https://www.disneytickets.co.uk/disney-in-concert-the-sound-of-magic-tickets" rel="noopener noreferrer"><span>Book your tickets</span></a><span> today.</span></p> </div>     </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<div class="tab-content ">   <div class="tab-content-rich-text cols-1"> <p>Unsure about which seats to choose? Check out our virtual seat view for <a href="https://www.disneytickets.co.uk/the-lion-king-musical-tickets">The Lion King</a> in London.</p><br>

<p>Tickets purchased from Disney Tickets for The Lion King can be exchanged for free, up to 24 hours before the performance.</p> </div>     </div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
<div class="tab-content ">   <div class="tab-content-rich-text cols-1"> <p>You can get in touch with our Guest Services team using live chat, <a href="tel:08006408101">calling us</a> or by <a href="mailto:help@disneytickets.co.uk" target="_blank" rel="noopener noreferrer">email</a>. We're available 10am - 7pm, 7 days a week. </p><br>
<p>You can also find the answers you need on our comprehensive <a href="https://support.disneytickets.com/hc/en-gb">help page</a>.</p> </div>     </div>
  </div>
  <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
    <div class="tab-content ">   <div class="tab-content-rich-text cols-1"> <p>With special Group ticket prices, access to the best eligible seats and flexible payment deadlines, make organising your Group visit easier and book direct with Disney Tickets. </p><br>
<p>Our team will tailor your experience to suit your group’s specific needs, you can find out more on our <a href="https://www.disneytickets.co.uk/group-bookings-enquiry">dedicated Group bookings page</a>.</p><br> 
<p>Reserve now, pay later.<br></p> </div>     </div>
  </div>
  <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
<div class="tab-content ">   <div class="tab-content-rich-text cols-1"> <p>Disney’s official box office for tickets to our live entertainment.</p><br>
<p>Here you can secure your tickets for our musicals, concerts and events in London’s West End, on tour across the UK and at Disneyland® Paris.</p><br>
<p>Sign up to register for pre-sale ticket alerts, new shows and special offers. Book direct with us for the best seats (where available), low or no fees and a Disney Guest experience.</p> <br>

<p>Find your ticket to the magic.<br></p>

 </div>     </div>
  </div>
</div>
    </div>
  </div>
</div>
</div>

<div class="movefromdisney"> 
  <h1 style="color: white;">Move from Disney</h1>
  <div class="movefromdisneyimg1" style="background: url('/static/images/Screenshot\ 2026-04-04\ 160721.png ') ;">
    <a class="movefromdisneyatag1" href="">SIGN UP NOW*</a>
  </div>
  <div class="continer">
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="">
      <img class="movefromdisneyimg2" src="{% static 'images/Screenshot 2026-03-19 121953.png' %}" class="card-img-top" alt="...">
      <div class="card-body3">
        <h5 class="title">Disneyland Paris Tickets</h5>
        <a class="text">FIND OUT MORE</a>
      </div>
    </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="">
      <img class="movefromdisneyimg2" src="{% static 'images/Screenshot 2026-03-19 122000.png' %}" class="card-img-top" alt="...">
      <div class="card-body3">
        <h5 class="title">Walt Disney World Tickets</h5>
        <a class="text">FIND OUT MORE</a>
      </div>
    </div>
    </div>
  </div>
</div>





{% endblock %}